.first_view {
    height: 100vh;
    border: 1px solid transparent;  
    .backgroundSlidera {
        position: absolute;
        left: 0;
        right: 0;
        width: 100vw;
        height: 100vh;
        background: url(../../assets/image/backgroundSlider.png);
        background-repeat: no-repeat;
        background-position: 4% 60% ;
        z-index: -1;
    }
}
