header {
    margin-top: 39px;
    margin-left: 104px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .menu {
        list-style-type: none;
        right: 200px;
        z-index: 3;
        &::before {
            content: "";
            background-color: RGBA(0, 0, 0, 0.5);
            height: 50px;
            width: 100vw;
            left: 0;
            right: 0;
            z-index: -1;
        }

        li {
            display: inline-block;
            color: $main_color;
            margin-left: 81px;
            font-family: "Muli-Bold", "AdobeInvisFont", "MyriadPro-Regular";
            font-size: 16px;
        }
    }
    .fixedMenu {
        position: fixed;
        &::before {
            position: fixed;
        }
    }
}
