.bottomOfSlider {
    display: flex;
    justify-content: space-between;
    margin-top: 26.47vh;
    //change
    .ellipse {
        img {
            display: block;
            margin-bottom: 27px;
        }
    }
    .left-side-slider {
        margin-left: 104px;
    }
}
