.floating-container {
    position: relative;
    margin-bottom: 20px;
    .floating {
        &:focus ~ .floating-label,
        &:not(:focus):valid ~ .floating-label {
            top: 13px;
            left: 16px;
            font-size: 11px;
            font-family: "Muli-SemiBold", "AdobeInvisFont", "MyriadPro-Regular";
        }
    }

    .floating-label {
        color: $placeholder_color;
        font-family: "Muli-Regular", "AdobeInvisFont", "MyriadPro-Regular";
        font-size: 15px;      
        position: absolute;
        pointer-events: none;
        left: 17px;
        top: 20px;
        transition: 0.2s ease all;
    }
}
