.imageThird {
    background-image: url("../../../assets/image/Layer\ 7@1X.webp");
    background-position: 65% 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    .play-container {
        position: relative;
        .lightbox {
            background-color: RGBA(0, 0, 0, 0.5);
            overflow: scroll;
            position: fixed;
            display: none;
            z-index: 1;
            bottom: 0;
            right: 0;
            left: 0;
            top: 0;

            &-container {
                position: relative;
                max-width: 960px;
                margin: 7% auto;
                display: block;
                padding: 0 3%;
                height: auto;
                z-index: 10;
            }

            &-close {
                text-transform: uppercase;
                background: transparent;
                position: absolute;
                font-weight: 300;
                font-size: 12px;
                display: block;
                border: none;
                color: white;
                top: -22px;
                right: 3%;
            }
        }

        .video-container {
            padding-bottom: 56.25%;
            position: relative;
            padding-top: 30px;
            overflow: hidden;
            height: 0;
        }

        .video-container iframe,
        .video-container object,
        .video-container embed {
            position: absolute;
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;
        }
        #playme {
            background: $fourth_color;
            text-transform: uppercase;
            font-weight: 300;
            border: none;
            color: white;
            padding: 10px 15px;
            display: inline-block;
            font-size: 14px;
            margin: 0;
        }
        &::after {
            content: "";
            display: block;
            position: absolute;
            top: -24px;
            left: -29px;
            height: 95px;
            width: 95px;
            border-radius: 50%;
            background-color: rgba(16, 165, 245, 0.5);
        }
        &::before {
            content: "";
            display: block;
            position: absolute;
            top: -43px;
            left: -47px;
            height: 132px;
            width: 132px;
            border-radius: 50%;
            background-color: rgba(16, 165, 245, 0.3);
        }
        img {
            position: absolute;
            z-index: 1;
        }
    }
}
