.imageSecond {
    background-image: url("../../../assets/image/Layer 6@1X.webp");
    background-position: left 70%;
    position: relative;
    .leftTopConer {
        background-image: url("../../../assets/image/Layer\ 8.svg");
        width: 138px;
        height: 158px;
        transform: rotate(90deg) scaleX(-1);
        margin-left: 12px;
        position: relative;
        div {
            position: absolute;
            top: 60px;
            left: 40px;
            background-image: url("../../../assets/image/Nowość@1X.webp");
            background-repeat: no-repeat;
            width: 80px;
            height: 70px;
            transform: rotate(-225deg) scaleX(-1.1);
        }
    }
}