.centerSection {
    width: 1200px;
    margin: 0 auto;
    margin-top: 215px;
    .section {
        display: flex;
        justify-content: space-between;
        margin-top: 215px;
    }
    .sectionReverse {
        flex-direction: row-reverse;
    }
}
