@media only screen and (max-width: 649px) {
    .container,
    .container .centerSection,
    .sectionText,
    .sectionImageFilm,
    .containerForm form,
    .checkbox label {
        width: 360px;
    }
    header {
        margin-top: 0;
    }
    .checkbox label {
        height: auto;
    }
    .sliderText {
        width: 340px;
    }
    .container .ellipse {
        margin-right: 0;
        margin-top: 150px;
    }
    .left-side-slider > * {
        margin-bottom: 80px;
    }
    .buttons {
        button {
            &:nth-child(1) {
                margin-bottom: 20px;
            }
        }
    }
    .containerForm {
        height: 780px;
        &::before {
            height: 780px;
        }
    }
    .container .containerFooter {
        flex-direction: column;
        align-items: center;
        height: 780px;
        &::before {
            height: 780px;
            left: 0;
        }
        .footer-left {
            margin-top: 0;
            margin-bottom: 10px;
            p {
                margin-bottom: 0;
            }
        }
        .subsites {
            margin-top: 0;
            margin-left: 0;
            div {
                &:nth-child(odd){
                    text-indent: 9px;
                }
                a {
                    margin-bottom: 10px;
                    &:first-child {
                        margin-bottom: 15px;
                    }
                }
            }
            p {
                bottom: -20px;
            }
        }
    }
}
