@media only screen and (max-width: 649px) {
    .container,
    .container .centerSection,
    .sectionText,
    .sectionImageFilm,
    .containerForm form,
    .checkbox label {
        width: 360px;
    }
    .sliderText {
        width: 340px;
    }
    .container .ellipse {
        margin-right: 0;
        margin-top: 150px;
    }
    .left-side-slider > * {
        margin-bottom: 100px;
    }
    .buttons {
        button {
            &:nth-child(1) {
                margin-bottom: 20px;
            }
        }
    }
    header {
        margin-left: 0;
    }
    .containerFooter {
        height: 100%;
        display: block;
        &::before {
            height: 100%;
            left: 0;
        }
        .footer-left {
            margin-top: 0;
            p {
                margin-bottom: 0;
            }
        }
        .subsites {
            margin-top: 0;
            div {
                a {
                    line-height: 25px;
                }
            }
            p{
                bottom: -20px;
            }
        }
    }
}