@media only screen and (max-width: 999px) {
    .container {
        width: 650px;
        .left-side-slider,
        header {
            margin-left: 0;
        }
        .backgroundSlidera {
            background-size: cover;
            background-position: 50%;
        }
        .menu {
            position: absolute;
            right: 20px;
            top: 120px;
            display: none;
            background-color: RGBA(0, 0, 0, 0.5);
            &::before {
                content: none;
            }
            li {
                display: block;
                margin: 20px;
                text-align: center;
            }
        }
        .menu.menuVisible {
            display: block;
        }
        .centerSection {
            width: 610px;
            .section {
                flex-direction: column;
                height: 100%;
                align-items: center;
                margin-bottom: 100px;
            }
            .sectionReverse {
                flex-direction: column-reverse;
            }
        }
        .containerFooter {
            height: 500px;
            &::before {
                height: 500px;
            }
        }
        .subsites {
            margin-top: 50px;
            flex-wrap: wrap;
            margin-left: 20px;
            div {
                width: 179px;
                margin-left: 0;
                &:first-child,
                &:last-child {
                    margin-left: 0px;
                }
            }
        }
    }
}
