* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 1397px;
    margin: 0 auto;
}

a,
button,
input[type="submit"],
label,
.play_me,
.arrows img {
    cursor: pointer;
    outline: none;
}
a {
    &:hover {
        background-color: rgba(173, 216, 230, 0.5);
    }
}
.buttons button:nth-child(1) {
    &:hover {
        background-color: rgba(173, 216, 230, 0.5);
    }
}
.buttons button:nth-child(2) {
    &:hover {
        background-color: rgba(173, 216, 230, 0.5);
    }
}
input[type="submit"] {
    &:hover {
        background-color: rgba(173, 216, 230, 0.5);
    }
}
label {
    &:hover {
        background-color: rgba(173, 216, 230, 0.5);
    }
}
.play_me {
    &:hover {
        background-color: rgba(173, 216, 230, 0.5);
    }
}
.arrows img {
    &:hover {
        background-color: rgba(173, 216, 230, 0.5);
    }
}
