$main_color: #fff;
$second_color: #333333;
$third_color: #002841;

@font-face {
    font-family: "Muli-Bold";
    src: url("../assets/Muli/Muli-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Muli-ExtraLight";
    src: url("../assets/Muli/Muli-ExtraLight.ttf") format("truetype");
}
@font-face {
    font-family: "Muli-ExtraBold";
    src: url("../assets/Muli/Muli-ExtraBold.ttf") format("truetype");
}
@font-face {
    font-family: "Muli-Regular";
    src: url("../assets/Muli/Muli-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Muli-SemiBold";
    src: url("../assets/Muli/Muli-SemiBold.ttf") format("truetype");
}
